@using EntityLayer.Concrete
@model VideoModel

@{
	ViewData["Title"] = "Video_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Video Adding Page</h2>
<br />

@using (Html.BeginForm("Video_Add", "Video", FormMethod.Post, new { @class = "form-group" }))
{
	@Html.Label("Video Url")
	@Html.TextBoxFor(m=>m.Video.VideoUrl,new { @class = "form-control" })
	@Html.ValidationMessage("VideoUrl",new { @class ="text-danger" })
	<br />

	@Html.Label("Release Date")
	@Html.TextBoxFor(m=>m.Video.ReleaseDate, DateTime.Now.ToString("yyyy-MM-dd") ,new { @class="form-control",@style = "height:40px;width:170px;", @type = "date" })
	@Html.ValidationMessage("ReleaseDate",new { @class ="text-danger" })
	<br />

	@Html.Label("Season No")
	@Html.TextBoxFor(m=>m.Video.SeasonNo,"1",new {@class="form-control", @style = "height:30px;width:70px;", @type = "number"})
	@Html.ValidationMessage("SeasonNo",new { @class ="text-danger" })
	<br />

	@Html.Label("Episode No")
	@Html.TextBoxFor(m=>m.Video.EpisodeNo,"1",new {@class="form-control", @style = "height:30px;width:70px;", @type = "number" })
	@Html.ValidationMessage("EpisodeNo",new { @class ="text-danger" })
	<br />

	@Html.Label("Language")
	@Html.DropDownListFor(m => m.Video.LanguageId,
		new SelectList(Model.Languages, "LanguageId", "LanguageName"), "Select Language",
		new { @class = "form-select" })
	@Html.ValidationMessage("LanguageId",new { @class ="text-danger" })
	<br />

	@Html.Label("Content Name")
	@Html.DropDownListFor(m => m.Video.ContentId,
		new SelectList(Model.Contents, "ContentId", "ContentName"), "Select Content",
		new { @class = "form-select" })
	@Html.ValidationMessage("ContentId",new { @class ="text-danger" })
	<br />

	@Html.Label("Category Name")
	@Html.DropDownListFor(m => m.Video.CategoryId,
		new SelectList(Model.Categories, "CategoryId", "CategoryName"), "Select Category",
		new { @class = "form-select" })
	@Html.ValidationMessage("CategoryId",new { @class ="text-danger" })
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}
