@using EntityLayer.Concrete
@model Admin
@{
    ViewData["Title"] = "Admin_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Update Page</h2>
<br />

@using (Html.BeginForm("Admin_Update", "Admin", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("AdminId")
    @Html.HiddenFor(m => m.AdminId)
    @Html.TextBoxFor(m=>m.AdminId,new { @class = "form-control", @disabled = "disabled"})
    <br />

    @Html.Label("Name")
    @Html.TextBoxFor(m=>m.AdminName,"",new { @class = "form-control" })
    @Html.ValidationMessage("AdminName",new { @class ="text-danger" })
        <br />

    @Html.Label("Password")
    @Html.TextBoxFor(m=>m.AdminPassword,"",new { @class = "form-control" })
    @Html.ValidationMessage("AdminPassword",new { @class ="text-danger" })
        <br />
    @Html.Label("Email Address")
    @Html.TextBoxFor(m=>m.EmailAddress,"",new { @class = "form-control" })
    @Html.ValidationMessage("EmailAddress",new { @class ="text-danger" })
        <br />
    @Html.Label("Admin Type")
    @Html.TextBoxFor(m=>m.AdminType,"",new { @class = "form-control" })
    @Html.ValidationMessage("AdminType",new { @class ="text-danger" })

        <br />

        <input class=" btn btn-primary" type="submit" value="Update" />
}


