@using EntityLayer.Concrete
@model ShadowModel

@{
	ViewData["Title"] = "Shadow_Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Shadow_Update", "Shadow", FormMethod.Post, new { @class = "form-group" }))
{
	<label>Shadow Id</label>
	<input class="form-control" type="text" name="ShadowId" value="@Model.Shadow.ShadowId" disabled />
	@Html.TextBox("ShadowId",Model.Shadow.ShadowId,new { @class = "form-control",@type="hidden"} )
	<br/>

	@Html.Label("Shadow Name")
	@Html.TextBox("ShadowName",Model.Shadow.ShadowName,new { @class = "form-control", @placeholder="Shadow Name"})
	<br />

	@Html.Label("Color Name")
	<select name="ColorId" class="form-select">
		<option disabled selected>@Model.Shadow.Color.ColorName</option>
		@foreach (var color in Model.Colors)
		{
			<option value="@color.ColorId">@color.ColorName</option>
		}
	</select>
	<br />

	@Html.Label("Status")
	@Html.DropDownList("IsDelete", 
	new SelectListItem[] { 
		new SelectListItem() { Text = "True", Value = "true", Selected = Model.Shadow.IsDelete },
		new SelectListItem() { Text = "False", Value = "false", Selected = !Model.Shadow.IsDelete }},
	new { @class = "form-select"})
	<br />

	<input class="form-control btn btn-primary" type="submit" value="Shadow Update" />
}