@using EntityLayer.Concrete
@model List<Shadow>

@{
	ViewData["Title"] = "Shadow_Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Shadow Name</th>
			<th>Shadow Color</th>
			<th>Status</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var shadow in Model)
		{
			<tr>
				<td>@shadow.ShadowId</td>
				<td>@shadow.ShadowName</td>
				<td>@shadow.Color.ColorName</td>
				<td>@shadow.IsDelete</td>
				<td>
					<button type="button" class="btn btn-outline-danger text-center" data-bs-whatever="@shadow.ShadowId" data-bs-toggle="modal" data-bs-target="#decisionPopup"><i class="fa fa-trash" aria-hidden="true"></i> </button>
				</td>
				<td>
					<a href="/Shadow/Shadow_Update/@shadow.ShadowId" type="button" class="btn btn-outline-primary">Update</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="text-center d-flex justify-content-start p-2">
	<a href="/Shadow/Shadow_Add" class="btn btn-success d-flex justify-content-center">New Shadow <ion-icon name="add" style="font-size:25px; color:white; margin-left:10px;"></ion-icon></a>
</div>

<!-- Modal -->
@*#decisionPopup Model*@
<div class="modal fade" id="decisionPopup" tabindex="=-1" aria-labelledby="deleteLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title" id="deleteLabel">Warning</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
				<a id="delete-btn" href="" class="btn btn-success">Yes</a>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function () {
		$('#decisionPopup').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);
			var shadowId = button.attr('data-bs-whatever');
			var a = document.querySelector("#delete-btn");
			a.href = "/Shadow/Shadow_Delete/" + shadowId;
		});
	});
</script>


