@using EntityLayer.Concrete
@model ShadowModel

@{
	ViewData["Title"] = "Shadow_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Shadow_Add", "Shadow", FormMethod.Post, new { @class = "form-group" }))
{
	@Html.Label("Shadow Name")
	@Html.TextBox("ShadowName","",new { @class = "form-control", @placeholder="Shadow Name"})
	<br />

	@Html.Label("Color Name")
	<select name="colorId" class="form-select">
		<option disabled selected>Select Color</option>
		@foreach (var color in Model.Colors)
		{
			<option value="@color.ColorId">@color.ColorName</option>
		}
	</select>
	<br />

	@Html.Label("Status")
	<select class="form-select" name="IsDelete">
		<option selected>False</option>
		<option>True</option>
	</select>
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}
