@using EntityLayer.Concrete
@model Cast

@{
    ViewData["Title"] = "Cast_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h3>Cast Update Page</h3>
<br />
@using (Html.BeginForm("Cast_Update", "Cast", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("ID")
    <input class="form-control" type="text" value="@Model.CastId" disabled />
    @Html.TextBoxFor(m=>m.CastId,new { @class = "form-control", @type = "hidden"})
    <br />

    @Html.Label("Name Surname")
    @Html.TextBoxFor(m=>m.CastNameSurname,new { @class = "form-control" })

    <br />
    @Html.Label("Status")
    <select class="form-control" name="IsDelete">

        <option selected>True</option>
        <option>False</option>

    </select>
    <br />
    <input class="form-control btn btn-primary" type="submit" value="Cast Update" />
}


