@using EntityLayer.Concrete
@model TextColor

@{
	ViewData["Title"] = "TextColor_Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>TextColor Update Page</h2>
<br />

@using (Html.BeginForm("TextColor_Update", "TextColor", FormMethod.Post, new { @class = "form-group" }))
{
	@Html.Label("TextColor Id")
	@Html.HiddenFor(m => m.TextColorId)
	@Html.TextBoxFor(m=>m.TextColorId,new { @class = "form-control", @disabled = "disabled"})
	<br />

	@Html.Label("Text Color Name")
	@Html.TextBoxFor(m=>m.TextColorName,new { @class = "form-control"})
	@Html.ValidationMessage("TextColorName",new { @class ="text-danger" })
	<br />

	<input class=" btn btn-primary" type="submit" value=" Update" />
}

