@using EntityLayer.Concrete
@model TextColor

@{
	ViewData["Title"] = "TextColor_Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>TextColor Update Page</h2>
<br />
@using (Html.BeginForm("TextColor_Update", "TextColor", FormMethod.Post, new { @class = "form-group" }))
{
	@Html.Label("ID")
	<input class="form-control" type="text" value="@Model.TextColorId" disabled />
	@Html.TextBoxFor(m=>m.TextColorId,new { @class = "form-control", @type = "hidden"})
	<br />

	@Html.Label("Text Color Name")
	@Html.TextBoxFor(m=>m.TextColorName,new { @class = "form-control"})
	<br />

	

	<input class=" btn btn-primary" type="submit" value=" Update" />
}

