@using EntityLayer.Concrete
@model UserModel

@{
    ViewData["Title"] = "User_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>User Adding Page</h2>
<br />

@using (Html.BeginForm("User_Add", "User", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("User Name")
    @Html.TextBoxFor(m=>m.User.UserName,new { @class = "form-control"} )
    @Html.ValidationMessage("UserName",new { @class ="text-danger" })
    <br />

    @Html.Label("Password")
    @Html.TextBoxFor(m=>m.User.Password,new { @class = "form-control", @type="password"} )
    @Html.ValidationMessage("Password",new { @class ="text-danger" })
    <br />

    @Html.Label("Email")
    @Html.TextBoxFor(m=>m.User.EmailAddress,new { @class = "form-control", @type="email",@placeholder="example@example.com"} )
    @Html.ValidationMessage("EmailAddress",new { @class ="text-danger" })
    <br />

    @Html.Label("Phone Number")
    @Html.TextBoxFor(m=>m.User.PhoneNumber,new { @class = "form-control", @type="tel",@placeholder="example:0555 555 55 55"} )
    @Html.ValidationMessage("PhoneNumber",new { @class ="text-danger" })
    <br />

    @Html.Label("Date Of Registration")
    @Html.TextBoxFor(m=>m.User.DateOfRegistration, DateTime.Now.ToString("yyyy-MM-dd hh:mm"), new { @class = "form-control", @style = "height:40px;width:170px;",@type="datetime-local"} )
    @Html.ValidationMessage("DateOfRegistration",new { @class ="text-danger" })
    <br />

    @Html.Label("Access Pin")
    @Html.TextBoxFor(m=>m.User.AccessPin,new { @class = "form-control"} )
    @Html.ValidationMessage("AccessPin",new { @class ="text-danger" })
    <br />

    @Html.Label("Packet Name")
    @Html.DropDownListFor(m => m.User.PacketId, 
        new SelectList(Model.Packets, "PacketId", "PacketName"), "Select Packet", 
        new { @class = "form-control" })
    @Html.ValidationMessage("PacketId",new { @class ="text-danger" })
    <br />

    <input class=" btn btn-primary" type="submit" value="Add" />
}