@using EntityLayer.Concrete
@model UserPacketModel
@{
    ViewData["Title"] = "User_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>User Adding Page</h2>
<br />

@using (Html.BeginForm("User_Add", "User", FormMethod.Post, new { @class = "form-group" }))
{



    @Html.Label("User Name")
    @Html.TextBoxFor(m=>m.UserModel.UserName,"",new { @class = "form-control"} )
    @Html.ValidationMessageFor(m=>m.UserModel.UserName,"",new { @class ="text-danger" })
    <br />

    @Html.Label("Password")
    @Html.TextBoxFor(m=>m.UserModel.Password,"",new { @class = "form-control"} )
    @Html.ValidationMessageFor(m=>m.UserModel.Password,"",new { @class ="text-danger" })
    <br />
    @Html.Label("Email")
    @Html.TextBoxFor(m=>m.UserModel.EmailAddress,"",new { @class = "form-control"} )
    @Html.ValidationMessageFor(m=>m.UserModel.EmailAddress,"",new { @class ="text-danger" })
    <br />
    @Html.Label("Phone Number")
    @Html.TextBoxFor(m=>m.UserModel.PhoneNumber,"",new { @class = "form-control"} )
    @Html.ValidationMessageFor(m=>m.UserModel.PhoneNumber,"",new { @class ="text-danger" })
    <br />
    @Html.Label("Date Of Registration")
    @Html.TextBoxFor(m=>m.UserModel.DateOfRegistration,"",new { @class = "form-control"} )
    @Html.ValidationMessageFor(m=>m.UserModel.DateOfRegistration,"",new { @class ="text-danger" })
    <br />
    @Html.Label("Access Pin")
    @Html.TextBoxFor(m=>m.UserModel.AccessPin,"",new { @class = "form-control"} )
    @Html.ValidationMessageFor(m=>m.UserModel.AccessPin,"",new { @class ="text-danger" })
    <br />
    @Html.Label("Packet Name")
    @Html.DropDownListFor(m => m.UserModel.PacketId, new SelectList(Model.PacketModel, "PacketId", "PacketName"), "Select Packet", new { @class = "form-control" })
    @Html.ValidationMessageFor(m=>m.PacketModel.FirstOrDefault().PacketId,"",new { @class ="text-danger" })
    <br />


    @Html.Label("Status")
    <select class="form-control" name="IsDelete">

        <option>True</option>
        <option selected>False</option>

    </select>
    <br />
    <input class=" btn btn-primary" type="submit" value="Add" />
}