@using EntityLayer.Concrete
@model FontModel
@{
    ViewData["Title"] = "Font_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Font_Add", "Font", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Font Name")
    @Html.TextBox("FontName","",new { @class = "form-control",@name="FontName" })
    <br />

    @Html.Label("Color Name")
    <select name="colorId" class="form-select">
        <option disabled selected>Select Color</option>
        @foreach (var color in Model.Colors)
        {
            <option value="@color.ColorId">@color.ColorName</option>
        }
    </select>
    <br />
    @Html.Label("Case")
    <select class="form-control" name="IsDelete">
        <option>True</option>
        <option selected>False</option>

    </select>
    <br />
    <input class=" btn btn-primary" type="submit" value="Add" />
}


