@using EntityLayer.Concrete
@model FontModel
@{
    ViewData["Title"] = "Font_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<label>Font Id</label>
<input class="form-control" type="text" name="FontId" value="@Model.Font.FontId" disabled />
@Html.TextBox("FontId",Model.Font.FontId,new { @class = "form-control",@type="hidden"} )
<br />

@Html.Label("Font Name")
@Html.TextBox("FontName",Model.Font.FontName,new { @class = "form-control", @placeholder="Font Name"})
<br />

@Html.Label("Color Name")
<select name="ColorId" class="form-select">
	<option disabled selected>@Model.Font.Color.ColorName</option>
	@foreach (var color in Model.Colors)
	{
		<option value="@color.ColorId">@color.ColorName</option>
	}
</select>
<br />

@Html.Label("Status")
@Html.DropDownList("IsDelete",
	new SelectListItem[] {
		new SelectListItem() { Text = "True", Value = "true", Selected = Model.Font.IsDelete },
		new SelectListItem() { Text = "False", Value = "false", Selected = !Model.Font.IsDelete }},
	new { @class = "form-select"})
<br />

<input class="form-control btn btn-primary" type="submit" value="Font Update" />
}

