@using EntityLayer.Concrete
@model Genre
@{
	ViewData["Title"] = "Genre_Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Genre Update Page</h2>
<br />
@using (Html.BeginForm("Genre_Update", "Genre", FormMethod.Post, new { @class = "form-group" }))
{
	@Html.Label("ID")
	@Html.HiddenFor(m => m.GenreId)
	@Html.TextBoxFor(m=>m.GenreId,new { @class = "form-control", @disabled = "disabled"})
	<br />

	@Html.Label("Genre Name")
	@Html.TextBoxFor(m=>m.GenreName,new { @class = "form-control"})
	@Html.ValidationMessage("GenreId",new { @class ="text-danger" })

	<br />

	
	<input class=" btn btn-primary" type="submit" value=" Update" />
}

