@using EntityLayer.Concrete
@model InvoiceDetailModel
@{
    ViewData["Title"] = "InvoiceDetail_Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Invoice Detail Adding Page</h2>
<br />

@using (Html.BeginForm("InvoiceDetail_Add", "InvoiceDetail", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Total Price")
    @Html.TextBoxFor(m=>m.InvoiceDetail.TotalPrice, new { @class = "form-control"} )
    @Html.ValidationMessage("TotalPrice", new { @class ="text-danger" })
    <br />

    @Html.Label("Invoice Explanation")
    @Html.TextBoxFor(m=>m.InvoiceDetail.InvoiceExplanation,new { @class = "form-control"} )
    @Html.ValidationMessage("InvoiceExplanation", new { @class ="text-danger" })
    <br />

    @Html.Label("Invoice Date")
    @Html.TextBoxFor(m=>m.InvoiceDetail.InvoiceDate, DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @style = "height:40px;width:170px;",@type="date"} )
    @Html.ValidationMessage("InvoiceDate",new { @class ="text-danger" })
    <br />

    @Html.Label("Service Date")
    @Html.TextBoxFor(m=>m.InvoiceDetail.ServiceDate, DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control", @style = "height:40px;width:170px;",@type="date"} )
    @Html.ValidationMessage("ServiceDate", new { @class ="text-danger" })
    <br />
   
    @Html.Label("CreditCardHolder")
    @Html.DropDownListFor(m => m.InvoiceDetail.CreditCardId, 
        new SelectList(Model.CreditCards, "CreditCardId", "CreditCardHolder"), "Select CreditCard Holder", 
        new { @class = "form-control" })
    @Html.ValidationMessage("CreditCardId", new { @class ="text-danger" })
    <br />

    <input class=" btn btn-primary" type="submit" value="Add" />
}

