@using EntityLayer.Concrete
@model InvoiceDetailModel
@{
    ViewData["Title"] = "InvoiceDetail_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>InvoiceDetail Update Page</h2>
<br />

@using (Html.BeginForm("InvoiceDetail_Update", "InvoiceDetail", FormMethod.Post, new { @class = "form-group" }))
{
    <label>InvoiceDetail Id</label>
    @Html.HiddenFor(m => m.InvoiceDetail.InvoiceDetailId)
    @Html.TextBoxFor(m=>m.InvoiceDetail.InvoiceDetailId, new { @class = "form-control", @disabled = "disabled"} )
    <br />

    @Html.Label("Total Price")
    @Html.TextBoxFor(m=>m.InvoiceDetail.TotalPrice,"",new { @class = "form-control"} )
    @Html.ValidationMessage("TotalPrice",new { @class ="text-danger" })
    <br />

    @Html.Label("Invoice Date")
    @Html.TextBoxFor(m=>m.InvoiceDetail.InvoiceExplanation,"",new { @class = "form-control"} )
    @Html.ValidationMessage("InvoiceExplanation",new { @class ="text-danger" })
    <br />
    @Html.Label("Invoice Date")
    @Html.TextBoxFor(m=>m.InvoiceDetail.InvoiceDate,"",new { @class = "form-control"} )
    @Html.ValidationMessage("InvoiceDate",new { @class ="text-danger" })
    <br />
    @Html.Label("Service Date")
    @Html.TextBoxFor(m=>m.InvoiceDetail.ServiceDate,"",new { @class = "form-control"} )
    @Html.ValidationMessage("ServiceDate",new { @class ="text-danger" })
    <br />

    @Html.Label("CreditCardHolder")
    @Html.DropDownListFor(m => m.InvoiceDetail.CreditCardId,
        new SelectList(Model.CreditCards,"CreditCardId","CreditCardHolder", Model.InvoiceDetail.CreditCardId),
        new { @class = "form-select" })
    <br />

    <input class=" btn btn-primary" type="submit" value="Add" />
}


