@using EntityLayer.Concrete
@model Category
@{
    ViewData["Title"] = "Category_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Category Update Page</h3>
<br />
@using (Html.BeginForm("Category_Update", "Category", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("ID")
    <input class="form-control" type="text" value="@Model.CategoryId" disabled />
    @Html.TextBoxFor(m=>m.CategoryId,new { @class = "form-control", @type = "hidden"})
    <br />

    @Html.Label("Category Name")
    @Html.TextBoxFor(m=>m.CategoryName,new { @class = "form-control" })

    <br />
    @Html.Label("Status")
    <select class="form-control" name="IsDelete">

        <option selected>True</option>
        <option>False</option>

    </select>
    <br />
    <input class="form-control btn btn-primary" type="submit" value="Category Update" />
}
