@using EntityLayer.Concrete
@model Category
@{
    ViewData["Title"] = "Category_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category Update Page</h2>
<br />
@using (Html.BeginForm("Category_Update", "Category", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("ID")
    <input class="form-control" type="text" value="@Model.CategoryId" disabled />
    @Html.TextBoxFor(m=>m.CategoryId,new { @class = "form-control", @type = "hidden"})
    <br />

    @Html.Label("Category Name")
    @Html.TextBoxFor(m=>m.CategoryName,new { @class = "form-control" })

   
    <br />
    <input class=" btn btn-primary" type="submit" value=" Update" />
}
