@using EntityLayer.Concrete
@model ContentModel

@{
    ViewData["Title"] = "Content_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Content Update Page</h2>
<br />

@using (Html.BeginForm("Content_Update", "Content", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("Content Id")
    @Html.HiddenFor(m => m.Content.ContentId)
    @Html.TextBoxFor(m=>m.Content.ContentId,new { @class = "form-control", @disabled = "disabled"})
    
    <br />

    @Html.Label("Content Name")
    @Html.TextBoxFor(m=>m.Content.ContentName,new { @class = "form-control"})
    @Html.ValidationMessage("ContentName",new { @class ="text-danger" })

    <br />

    @Html.Label("Maturity Rating")
    @Html.DropDownListFor(m => m.Content.MaturityRatingId,
		new SelectList(Model.MaturityRatings, "MaturityRatingId", "StatusName"), "Select Maturity Rating",
		new { @class = "form-select" })
    
    <br />

    <input class="btn btn-primary" type="submit" value="Update" />
}

