@using EntityLayer.Concrete
@model ContentModel

@{
    ViewData["Title"] = "Content_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Content Update Page</h2>
<br />

@using (Html.BeginForm("Content_Update", "Content", FormMethod.Post, new { @class = "form-group" }))
{
    <label>Content Id</label>
    <input class="form-control" type="text" name="ContentId" value="@Model.Content.ContentId" disabled />
    @Html.TextBox("ContentId",Model.Content.ContentId,new { @class = "form-control",@type="hidden"} )
    <br />

    @Html.Label("Content Name")
    @Html.TextBoxFor(m=>m.Content.ContentName,new { @class = "form-control"})
    <br />

    @Html.Label("Maturity Rating")
    <select name="TitleId" class="form-select">
        <option disabled value="@Model.Content.MaturityRating.MaturityRatingId">@Model.Content.MaturityRating.StatusName</option>
        <option hidden value="@Model.Content.MaturityRating.MaturityRatingId">@Model.Content.MaturityRating.StatusName</option>
        @foreach (var t in Model.MaturityRatings)
        {
            <option value="@t.MaturityRatingId">@t.StatusName</option>
        }
    </select>
    <br />

    <input class="btn btn-primary" type="submit" value="Update" />
}

