@using EntityLayer.Concrete
@model Packet
@{
    ViewData["Title"] = "Packet_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Packet Update Page</h2>
<br />
@using (Html.BeginForm("Packet_Update", "Packet", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("ID")
    @Html.HiddenFor(m => m.PacketId)
    @Html.TextBoxFor(m=>m.PacketId,new { @class = "form-control", @disabled = "disabled"})
    <br />

    @Html.Label("Packet Name")
    @Html.TextBoxFor(m=>m.PacketName,"",new { @class = "form-control" })
    @Html.ValidationMessage("PacketName",new { @class ="text-danger" })
    <br />

    @Html.Label("View Count")
    @Html.TextBoxFor(m=>m.ViewCount,"",new { @class = "form-control" })
    @Html.ValidationMessage("ViewCount",new { @class ="text-danger" })
    <br />
    @Html.Label("Price")
    @Html.TextBoxFor(m=>m.PacketPrice,"",new { @class = "form-control" })
    @Html.ValidationMessage("PacketPrice",new { @class ="text-danger" })
    <br />
    @Html.Label("Content Quality")
    @Html.TextBoxFor(m=>m.PacketContentQuality,"",new { @class = "form-control" })
    @Html.ValidationMessage("PacketContentQuality",new { @class ="text-danger" })
    <br />
    @Html.Label("Explanation")
    @Html.TextBoxFor(m=>m.PacketExplanation,"",new { @class = "form-control" })
    @Html.ValidationMessage("PacketExplanation",new { @class ="text-danger" })
    <br />

    
    <input class=" btn btn-primary" type="submit" value="Update" />
}