@using EntityLayer.Concrete
@model MaturityRating
@{
	ViewData["Title"] = "MaturityRating_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>MaturityRating Adding Page</h2>
<br />
@using (Html.BeginForm("MaturityRating_Add", "MaturityRating", FormMethod.Post, new { @class = "form-group" }))
{

	@Html.Label("Status Name")
	@Html.TextBoxFor(m=>m.StatusName,new { @class = "form-control", @placeholder="Status Name" })
	@Html.ValidationMessageFor(m=>m.StatusName,"",new { @class ="text-danger" })
	<br />

	@Html.Label("Maturity Explanation")
	@Html.TextBoxFor(m=>m.MaturityExplanation,new { @class = "form-control", @placeholder="Maturity Explanation" })
	@Html.ValidationMessageFor(m=>m.MaturityExplanation,"",new { @class ="text-danger fs-6" })
	<br />

	@Html.Label("Status")
	<select class="form-select" name="IsDelete">
		<option selected>False</option>
		<option>True</option>
	</select>
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}


