@using EntityLayer.Concrete
@model TextSize

@{
	ViewData["Title"] = "TextSize_Update";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Text Size Update Page</h2>
<br />

@using (Html.BeginForm("TextSize_Update", "TextSize", FormMethod.Post, new { @class = "form-group" }))
{
	@Html.Label("Text Size ID")
	@Html.HiddenFor(m => m.TextSizeId)
	@Html.TextBoxFor(m=>m.TextSizeId,new { @class = "form-control", @disabled = "disabled"})
	<br />

	@Html.Label("Text Size Name")
	@Html.TextBoxFor(m=>m.TextSizeName,new { @class = "form-control"})
	@Html.ValidationMessage("TextSizeName",new { @class ="text-danger" })
	<br />

	<input class=" btn btn-primary" type="submit" value=" Update" />
}

