@using EntityLayer.Concrete
@model Language
@{
    ViewData["Title"] = "Language_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Language Update Page</h2>
<br />
@using (Html.BeginForm("Language_Update", "Language", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("ID")
    <input class="form-control" type="text" value="@Model.LanguageId" disabled />
    @Html.TextBoxFor(m=>m.LanguageId,new { @class = "form-control", @type = "hidden"})
    <br />
    @Html.Label("Language Name")
    @Html.TextBoxFor(m=>m.LanguageName,new { @class = "form-control"})

    <br />
   
    <input class=" btn btn-primary" type="submit" value=" Update" />
}

