@using EntityLayer.Concrete
@model ProfilePlaybackSettingModel

@{
	ViewData["Title"] = "ProfilePlaybackSetting_Add";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ProfilePlaybackSetting Adding Page</h2>
<br />

@using (Html.BeginForm("ProfilePlaybackSetting_Add", "ProfilePlaybackSetting", FormMethod.Post, new { @class = "form-group" }))
{
	<div class="form-check form-switch">
		@Html.CheckBoxFor(m=>m.ProfilePlaybackSetting.PlaybackPlaybackSelection, new { @class = "form-check-input" })
		@Html.LabelFor(m=>m.ProfilePlaybackSetting.PlaybackPlaybackSelection, "Selection", new { @class = "form-check-label" })
	</div>
	<br />

	@Html.Label("Profile")
	@Html.DropDownListFor(m => m.ProfilePlaybackSetting.ProfileId,
		new SelectList(Model.Profiles, "ProfileId", "ProfileName"), "Select Profile",
		new { @class = "form-select" })
	@Html.ValidationMessage("ProfileId",new { @class ="text-danger" })
	<br />

	@Html.Label("Playback Setting Name")
	@Html.DropDownListFor(m => m.ProfilePlaybackSetting.PlaybackSettingId,
		new SelectList(Model.PlaybackSettings, "PlaybackSettingId", "PlaybackSettingName"), "Select Playback Setting",
		new { @class = "form-select" })
	@Html.ValidationMessage("PlaybackSettingId",new { @class ="text-danger" })
	<br />

	<input class=" btn btn-primary" type="submit" value="Add" />
}

