@using EntityLayer.Concrete
@model CastTitleModel
@{
    ViewData["Title"] = "CastTitle_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>CastTitle Update Page</h2>
<br />

@using (Html.BeginForm("CastTitle_Update", "CastTitle", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("CastTitle Id")
    @Html.HiddenFor(m => m.CastTitle.CastTitleId)
    @Html.TextBoxFor(m=>m.CastTitle.CastTitleId,new { @class = "form-control" , @disabled = "disabled"})

    <br />

    @Html.Label("Cast Name Surname")
    @Html.DropDownListFor(m => m.CastTitle.CastId,
			new SelectList(Model.Casts, "CastId", "CastNameSurname"), "Select Cast",
			new { @class = "form-select" })
    <br />

    @Html.Label("Title Name")
    @Html.DropDownListFor(m => m.CastTitle.TitleId,
		new SelectList(Model.Titles, "TitleId", "TitleName"), "Select Genre",
		new { @class = "form-select" })
    <br />

    <input class="btn btn-primary" type="submit" value="Update" />
}

