@using EntityLayer.Concrete
@model ContentCastTitleModel

@{
    ViewData["Title"] = "ContentCastTitle_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ContentCastTitle Update Page</h2>
<br />

@using (Html.BeginForm("ContentCastTitle_Update", "ContentCastTitle", FormMethod.Post, new { @class = "form-group" }))
{
    @Html.Label("ContentCastTitle Id")
    @Html.HiddenFor(m => m.ContentCastTitle.ContentCastTitleId)
    @Html.TextBoxFor(m=>m.ContentCastTitle.ContentCastTitleId, new { @class = "form-control", @disabled = "disabled"} )
    <br />

    @Html.Label("Content Name")
    @Html.DropDownListFor(m => m.ContentCastTitle.ContentId, 
        new SelectList(Model.Contents,"ContentId","ContentName", Model.ContentCastTitle.ContentId),
        new { @class = "form-select" })
    <br />

    @Html.Label("CastTitle Name")
    @Html.DropDownListFor(m => m.ContentCastTitle.CastTitleId, 
        new SelectList(Model.CastTitles,"CastTitleId","CastTitleId", Model.ContentCastTitle.CastTitleId), 
        new { @class = "form-select" })
    <br />

    <input class=" btn btn-primary" type="submit" value="Update" />
}

