@using EntityLayer.Concrete
@model Title
@{
    ViewData["Title"] = "Title_Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Title Update Page</h2>
<br />
@using (Html.BeginForm("Title_Update", "Title", FormMethod.Post, new { @class = "form-group" }))
{

    @Html.Label("Title Id")
    @Html.HiddenFor(m => m.TitleId)
    @Html.TextBoxFor(m=>m.TitleId,new { @class = "form-control", @disabled = "disabled"})
    <br />

    @Html.Label("Title Name")
    @Html.TextBoxFor(m=>m.TitleName,new { @class = "form-control" })
    @Html.ValidationMessage("TitleName",new { @class ="text-danger" })

    <br />

    <input class=" btn btn-primary" type="submit" value=" Update" />
}
